/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  background-color: #b2dfdb;
  color: white;
}

.material-icons{
  color: #b2dfdb;
}
.card{
  color: #b2dfdb;
}
nav ul a,
nav .brand-logo {
  color: #b2dfdb;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.icon-links{
  height: 40px;
  margin-top: 10px;
}

.icon-links-mobile{
  height: 60px;
  margin-top: 60px;
}

.nav-list{
  height: 200px;
}

#index-banner{
  width: 100%;
}

.skills-icons{
  height: 80px;
}

#express-icon{
  height: 40px;
}

#mongo{
  height: 50px;
}

#react{
  height: 90px;
}

#mongo-col{
  position: relative;
  top: 30px;
}

#express-col{
  position:relative;
  top: 35px;
}

.card-pic{
  height: 250px;
}

.card-reveal{
  color: black;
}

#headshot{
  height: 300px;
  width: 200px;
}

.icon-footer{
  height: 100px;
  position: relative;
  left: 200px;
}

body{
  font-family: 'Open Sans', sans-serif;
}

#name{
  position: relative;
  bottom: 15px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .icon-footer{
    height: 80px;
    position: relative;
    left: 0px;
    margin: 30px;
  }

  .page-footer{
    text-align: center;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  #name{
    font-size: 20px;
  }

}